
@{
    ViewBag.Title = "CO2 Chart";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CO2 Chart</title>
    <link href="/Content/bootstrap.css" rel="stylesheet"/>
    <link href="/Content/site.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
    <script>

        var dataSet =
        {
            labels: [],
            datasets: [{
                fill: true,
                label: 'CO2',
                yAxisID: 'CO2',
                borderColor: "rgba(170,0,120, 0.8)",
                pointBoarderColor: "rgba(209,202,176, 0.8)",
                backgroundColor: "rgba(24, 120, 240, 0.4)",
                pointHoverBackgroundColor: "rgba(24, 120, 240, 1)",
                pointHoverBorderColor: "rgba(24, 120, 240, 1)",
                borderWidth: 2,
                data: []
            }]
        };

        var options = {
            title:
            {
                display: true,
                text: "",
                fontSize: 36
            },
            scales: {
                yAxes: [{
                    id: 'CO2',
                    type: 'linear',
                    scaleLabel: {
                        labelString: 'CO2',
                        display: true
                    },
                    position: 'left',
                }]
            },
            responsive: true,
            maintainAspectRatio: true
        };

        var url = '@Url.Action("GetCo2", "Sensor")';
        var co2Chart;

        function updateCO2Chart(url,chart) {
            console.log("Updating CO2Chart");
            $.getJSON(url,
                function (data) {
                    chart.options.title.text = data.ChartRange + " (average: " + data.AverageCO2 + " ppm)";
                    chart.data.labels = [];
                    chart.data.datasets[0].data = [];
                    var dates = data["Timestamps"];
                    var co2 = data["CO2"];
                    for (var i = 0; i <= dates.length - 1; i++) {
                        chart.data.labels.push(dates[i]);
                    }
                    for (var i = 0; i <= co2.length - 1; i++) {
                        chart.data.datasets[0].data.push(co2[i]);
                    }
                    chart.update();
                });

        }

        function loadCO2Chart() {
            console.log("Loading CO2Chart");
            var ctx3 = document.getElementById("CO2Chart").getContext("2d");
            co2Chart = new Chart(ctx3,
                {
                    type: 'line',
                    data: dataSet,
                    options: options
                });
            updateCO2Chart(url, co2Chart);
        };
        
        function onChartRangeChanged(val) {            
            updateCO2Chart(url + "?range=" + val, co2Chart);
        }

        window.onload = function() {
            loadCO2Chart();
        }         
    </script>
</head>
<body>
    <br />
    <br />
    <table>
        <tr>
            <td>
                <h4 class="text-primary">Select chart range</h4>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DropDownList("ChartRange", new[]
                {                    
                    new SelectListItem() {Text = "24 Hours", Value = "24 hours",},
                    new SelectListItem() {Text = "Day", Value = "day",Selected = true},
                    new SelectListItem() {Text = "7 days", Value = "7 days",},
                    new SelectListItem() {Text = "Week", Value = "week"},
                    new SelectListItem() {Text = "30 days", Value = "30 days",},
                    new SelectListItem() {Text = "Month", Value = "month"}
            },
                new { @onchange = "onChartRangeChanged(this.value)", @class = "form-control" })
            </td>
        </tr>
    </table>
    <br />
<div style="text-align: center">
    <canvas id="CO2Chart"></canvas>
</div>
</body>
</html>  

