
@{
    ViewBag.Title = "Humidity Chart";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Humidity Chart</title>
    <link href="/Content/bootstrap.css" rel="stylesheet"/>
    <link href="/Content/site.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
    <script>
        var dataSet =
        {
            labels: [],
            datasets: [{
                fill: true,
                label: 'Humidity, %',
                yAxisID: 'Humidity',
                borderColor: "rgba(24, 120, 240, 1)",
                pointBoarderColor: "rgba(24, 120, 240, 1)",
                backgroundColor: "rgba(24, 120, 240, 0.4)",
                pointHoverBackgroundColor: "rgba(24, 120, 240, 1)",
                pointHoverBorderColor: "rgba(24, 120, 240, 1)",
                borderWidth: 2,
                data: []
            }]
        };

        var options = {
            title:
            {
                display: true,
                text: "",
                fontSize: 36
            },
            scales: {
                yAxes: [{
                    id: 'Humidity',
                    type: 'linear',
                    scaleLabel: {
                        labelString: 'Humidity, %',
                        display: true
                    },
                    position: 'left',
                }]
            },
            responsive: true,
            maintainAspectRatio: true
        };

        var url = '@Url.Action("GetHumidities", "Sensor")';
        var humidityChart;

        function updateHumidityChart(url, chart) {
            console.log("Updating HumidityChart");
            $.getJSON(url,
                function (data) {
                    chart.options.title.text = data.ChartRange + " (average: " + data.AverageHumidity + " %)";
                    chart.data.labels = [];
                    chart.data.datasets[0].data = [];
                    var dates = data["Timestamps"];
                    var humidities = data["Humidities"];
                    for (var i = 0; i <= dates.length - 1; i++) {
                        chart.data.labels.push(dates[i]);
                    }
                    for (var i = 0; i <= humidities.length - 1; i++) {
                        chart.data.datasets[0].data.push(humidities[i]);
                    }
                    chart.update();
                });

        }
        function loadHumidityChart() {
            console.log("Loading HumidityChart");
            var ctx2 = document.getElementById("HumidityChart").getContext("2d");
            humidityChart = new Chart(ctx2,
                {
                    type: 'line',
                    data: dataSet,
                    options: options
                });
            updateHumidityChart(url, humidityChart);
        };
        
        function onChartRangeChanged(val) {            
            updateHumidityChart(url + "?range=" + val, humidityChart);
        }
        
        window.onload = function() {
            loadHumidityChart();
        }
    </script>  
</head>
<body>
    <br />
    <br />
    <table>
        <tr>
            <td>
                <h4 class="text-primary">Select chart range</h4>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DropDownList("ChartRange", new[]
                {                    
                    new SelectListItem() {Text = "24 Hours", Value = "24 hours",},
                    new SelectListItem() {Text = "Day", Value = "day",Selected = true},
                    new SelectListItem() {Text = "7 days", Value = "7 days",},
                    new SelectListItem() {Text = "Week", Value = "week"},
                    new SelectListItem() {Text = "30 days", Value = "30 days",},
                    new SelectListItem() {Text = "Month", Value = "month"}
            },
                new { @onchange = "onChartRangeChanged(this.value)", @class = "form-control" })
            </td>
        </tr>
    </table>
<br />
<div style="text-align: center">
    <canvas id="HumidityChart"></canvas>
</div>
</body>
</html>  

