@{
    ViewBag.Title = "Temperature Chart";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Temperature Chart</title>
    <link href="/Content/bootstrap.css" rel="stylesheet"/>
    <link href="/Content/site.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
    <script>
        var dataSet =
        {
            labels: [],
            datasets: [
                {
                    fill: true,
                    label: 'Temperature, C',
                    yAxisID: 'Temperature',
                    borderColor: "rgba(255, 204, 0, 1)",
                    pointBoarderColor: "rgba(255, 204, 0, 1)",
                    backgroundColor: "rgba(255, 204, 0, 0.4)",
                    pointHoverBackgroundColor: "rgba(255, 204, 0, 1)",
                    pointHoverBorderColor: "rgba(255, 204, 0, 1)",
                    borderWidth: 2,
                    data: []
                }
            ]
        };

        var options = {
            title:
            {
                display: true,
                text: "",
                fontSize: 36
            },
            scales: {
                yAxes: [
                    {
                        id: 'Temperature',
                        type: 'linear',
                        scaleLabel: {
                            labelString: 'Temperature, C',
                            display: true
                        },
                        position: 'left',
                    }
                ]
            },
            responsive: true,
            maintainAspectRatio: true
        };

        var url = '@Url.Action("GetTemperatures", "Sensor")';

        function PopulateChart(url) {
            $.getJSON(url,
                function(data) {
                    var dates = data["Timestamps"];
                    var temperatures = data["Temperatures"];
                    options.title.text = data.ChartRange + " (average: " + data.AverageTemperature + " C)";
                    dataSet.labels = [];
                    dataSet.datasets[0].data = [];
                    for (var i = 0; i <= dates.length - 1; i++) {
                        dataSet.labels.push(dates[i]);
                    }
                    for (var i = 0; i <= temperatures.length - 1; i++) {
                        dataSet.datasets[0].data.push(temperatures[i]);
                    }
                    var ctx1 = document.getElementById("TemperatureChart").getContext("2d");
                    window.myBar = new Chart(ctx1,
                        {
                            type: 'line',
                            data: dataSet,
                            options: options
                        });
                });

        }

        function ChartRangeChanged(val) {
            PopulateChart(url + "?range=" + val);
        }

        window.onload = PopulateChart(url);        
    </script>  
</head>
<body>
<br/>
<br/>
<table>
    <tr>
        <td>
            <h4 class="text-primary">Select chart range</h4>
        </td>
    </tr>
    <tr>
        <td>
            @Html.DropDownList("ChartRange", new[]
            {                
                new SelectListItem() {Text = "24 Hours", Value = "24 hours",},
                new SelectListItem() {Text = "Day", Value = "day",Selected = true},
                new SelectListItem() {Text = "7 days", Value = "7 days",},
                new SelectListItem() {Text = "Week", Value = "week"},
                new SelectListItem() {Text = "30 days", Value = "30 days",},
                new SelectListItem() {Text = "Month", Value = "month"}
            },
                new { @onchange = "ChartRangeChanged(this.value)", @class = "form-control" })
        </td>
    </tr>
</table>
<br/>
<div style="text-align: center">
    <canvas id="TemperatureChart"></canvas>
</div>
</body>
</html>  