@{
    ViewBag.Title = "Temperature Chart";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Temperature Chart</title>
    <link href="/Content/bootstrap.css" rel="stylesheet"/>
    <link href="/Content/site.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
    <script>
        var dataSet =
            {
                labels: [],
                datasets: [
                    {
                        fill: true,
                        label: 'Temperature, C',
                        yAxisID: 'Temperature',
                        borderColor: "rgba(255, 204, 0, 1)",
                        pointBoarderColor: "rgba(255, 204, 0, 1)",
                        backgroundColor: "rgba(255, 204, 0, 0.4)",
                        pointHoverBackgroundColor: "rgba(255, 204, 0, 1)",
                        pointHoverBorderColor: "rgba(255, 204, 0, 1)",
                        borderWidth: 2,
                        data: []
                    }
                ]
            };

        var options = {
            title:
            {
                display: true,
                text: "",
                fontSize: 36
            },
            scales: {
                yAxes: [
                    {
                        id: 'Temperature',
                        type: 'linear',
                        scaleLabel: {
                            labelString: 'Temperature, C',
                            display: true
                        },
                        position: 'left',
                    }
                ]
            },
            responsive: true,
            maintainAspectRatio: true
        };

        var url = '@Url.Action("GetTemperatures", "Sensor")';

        var temperatureChart;

        function updateTemperatureChart(url,chart) {
            console.log("Updating TemperatureChart");
            $.getJSON(url,
                function (data) {
                    chart.options.title.text = data.ChartRange + " (average: " + data.AverageTemperature+" " + String.fromCharCode(176)+ "C)";
                    chart.data.labels = [];
                    chart.data.datasets[0].data = [];
                    var dates = data["Timestamps"];
                    var temperatures = data["Temperatures"];
                    for (var i = 0; i <= dates.length - 1; i++) {
                        chart.data.labels.push(dates[i]);
                    }
                    for (var i = 0; i <= temperatures.length - 1; i++) {
                        chart.data.datasets[0].data.push(temperatures[i]);
                    }
                    chart.update();
                });

        }

        function loadTemperatureChart() {
            console.log("Loading TemperatureChart");
            var ctx1 = document.getElementById("TemperatureChart").getContext("2d");
            temperatureChart = new Chart(ctx1,
                {
                    type: 'line',
                    data: dataSet,
                    options: options
                });
            updateTemperatureChart(url,temperatureChart);
        };

        function onChartRangeChanged(val) {            
            updateTemperatureChart(url + "?range=" + val, temperatureChart);
        }        
        window.onload = function() {
             loadTemperatureChart();
        }
    </script>  
</head>
<body>
<br/>
<br/>
<table>
    <tr>
        <td>
            <h4 class="text-primary">Select chart range</h4>
        </td>
    </tr>
    <tr>
        <td>
            @Html.DropDownList("ChartRange", new[]
            {                
                new SelectListItem() {Text = "24 Hours", Value = "24 hours",},
                new SelectListItem() {Text = "Day", Value = "day",Selected = true},
                new SelectListItem() {Text = "7 days", Value = "7 days",},
                new SelectListItem() {Text = "Week", Value = "week"},
                new SelectListItem() {Text = "30 days", Value = "30 days",},
                new SelectListItem() {Text = "Month", Value = "month"}
            },
                new { @onchange = "onChartRangeChanged(this.value)", @class = "form-control" })
        </td>
    </tr>
</table>
<br/>
<div style="text-align: center">
    <canvas id="TemperatureChart"></canvas>
</div>
</body>
</html>  