@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Climate Control web application</h3>
</div>

<div> 
    <ul>
        <li>@Html.ActionLink("View sensor data", "Index", "Sensor")</li>
        <li>@Html.ActionLink("Temperature chart", "TemperatureChart", "Sensor")</li> 
    </ul>
</div>